<div
    style="margin-bottom: 16px; border-bottom: 1px solid rgb(120, 120, 120); padding-bottom: 8px; display: flex; align-items: center; justify-content: space-between;">
    <div>
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
            {{job['title']}}
        </h4>
        <div><strong>Location :</strong> {{job['location']}}</div>
        {%if 'salary' in job %}
        <div><strong>Salary: </strong> {{job['salary']}}</div>
    </div>

    <div>
        <button>
            Apply </button>
    </div>


    {%endif %}
</div>